<p>Hello world, meet the biggest {{ SecurityGuard }} I've ever met in my life. That guy who came up to me in the lounge? Turns out he was security.</p>

<p>I was all the way through security when I {{ SecurityJoke }} and this guy overheard. So he thought he'd wander over and have a little chat. Of course, he didn't tell me that.</p>

<p>{{ SecurityVideo }}</p>

<p>Apparently, it's illegal to do that in the security zone (I wasn't in the security zone!) and after a while he got his badge out and showed me. I nearly {{ SecurityFreakOut }}.</p>

<p>{{ SecurityLuck }} he got the message that I was just {{ SecurityMe }} and they let me get on the plane.</p>