<p>I'm sorry to put another rant about airport security out there, but seriously, this is not a joke. First of all, I was carrying {{ SecurityStuff }} and even though it was just a little bit, they made me put it in a bin.</p>

<p>Then they made a fuss about my {{ SecurityFood }}. It's a long flight and {{ Airline }} don't feed you properly. I mean, what was I going to do - use it to threaten a stewardess? It's not like I was carrying a {{ SecurityWeapon }} or something.</p>

<p>I had to bin that too. Now I'm going to fly hungry.</p>